html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.app-shell {
  width: 100%;
  height: 100%;
  background: #0b0b0f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame {
  position: relative;
  width: 390px;
  height: 844px;
  border-radius: 40px;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 24px 80px rgba(0,0,0,0.65);
}

/******** START 화면 ********/
.checkout-screen {
  position: relative;
  padding: 140px 24px 32px; /* 좌우 여백만 조금 줄이기 */
  background: #ffffff;
  z-index: 10;

  display: flex;
  flex-direction: column;
}

.logo-start {
  width: 180px;
}

.logo-start.purple {
  filter: brightness(0) saturate(100%) invert(20%) sepia(90%)
          hue-rotate(260deg) saturate(600%) brightness(95%);
}

.absolute-start {
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
}

/******** 배경 *********/
.purple-light-bg,
.purple-dark-bg {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity .6s ease;
  pointer-events: none;
}

.purple-light-bg {
  background: #efd8f8;
}
.purple-light-bg.visible {
  opacity: 1;
}

.purple-dark-bg {
  background: #7f1ac9;
}
.purple-dark-bg.visible {
  opacity: 1;
}

/******** 애니 로고 *********/
.wayfair-logo {
  position: absolute;
  left: 50%;
  width: 180px;
  transform: translateX(-50%);
  transition: all .5s ease;
  z-index: 20;
}

.logo-top { top: 7%; }
.logo-center { top: 35%; }
.scaled { transform: translateX(-50%) scale(1.2); }

/******** 중앙 애니 박스 ********/
.center-anim {
  position: absolute;
  top: 52%;
  left: 50%;
  width: 65px;
  height: 65px;
  transform: translate(-50%, -40%);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 30;
}

/******** JSON 색상만 흰색으로 바꾸기 *********/
.lottie-white svg {
  filter: brightness(0) invert(1);
}

/* 상품 카드 */
.item {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  padding: 16px 0 18px;
  border-radius: 14px;
  border: 1px solid #f0f0f3;
  background: #ffffff;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.03);
}

/* 이미지 placeholder */
.item-img {
  width: 84px;
  height: 60px;
  border-radius: 10px;
  background: #f3f3f7;
}

.item-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-info .title {
  font-size: 14px;
  font-weight: 600;
  color: #111015;
  margin-bottom: 4px;
}

.item-info .sub {
  font-size: 12px;
  color: #808089;
}

/* 금액 요약 */
.summary {
  margin-top: 24px;
  font-size: 13px;
}

.summary .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  color: #3b3b45;
}

.summary .row span:first-child {
  color: #7b7b86;
}

.summary .row.total {
  margin-top: 4px;
  padding-top: 12px;
  border-top: 1px solid #eeeeF2;
  font-weight: 700;
  font-size: 14px;
  color: #111015;
}
.checkout-btn{
  background: #7f1ac9;
  color: #eeeeF2;
}